{% extends 'master.twig' %}

{% block body %}
	<h3 class="text-center">Add complaint</h3>
	<div class="medium-5 medium-centered">
		<div class="row">
			<form class="complaint" enctype="multipart/form-data" method="post" data-abide novalidate>
				<div class="row">
					<div class="small-12 columns">
						<label for="">Category</label>
						<select name="category" id="category">
							<option value="">Select</option>
							{% for cat in categories %}
								<option value="{{ cat.categoryId }}">{{ cat.name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="small-12 columns">
						<label for="">Severity</label>
						1 <input type="radio" name="severity" value="1">
						2 <input type="radio" name="severity" value="2">
						3 <input type="radio" name="severity" value="3">
						4 <input type="radio" name="severity" value="4">
						5 <input type="radio" name="severity" value="5">
					</div>
					<div class="small-12 columns">
						<label for="">Description</label>
						<textarea name="description" id="" cols="30" rows="10"></textarea>
					</div>
					<div class="small-12 columns">
						<div class="map" style="height: 350px;"></div>
						<input id="lat" type="hidden" name="lat">
						<input id="lng" type="hidden" name="lng">
					</div>
					<div class="small-12 columns">
						<input type="file" name="images[]" accept="image/*" multiple>
					</div>
					{#<div class="small-12 columns">#}
						{#<label>Input Label + abide validation <input name="textme" type="text" placeholder="required" required>#}
							{#<span class="form-error">Yo, you had better fill this out.</span> </label>#}
					{#</div>#}
				</div>
				<div class="row column">
					<button class="button" type="submit">Submit</button>
					<button class="button" type="reset">Reset</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script>
		$('form.complaint').on('submit', function(event) {
			var $form = $(this);
			var data = createFormData($form);
			
			var call = apiCall('/complaints', data, 'post');
			
			call.done(function() {
				$form.find('button[type=reset]').click();
			});
			
			event.preventDefault();
		});
		
		function initMap() {
			// Create a map object and specify the DOM element for display.
			var map = new google.maps.Map($('.map')[0], {
				center: {lat: 21.4389, lng: -158.0001},
				scrollwheel: false,
				zoom: 10
			});
			
			var marker;
			
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(function(position) {
					var pos = {
						lat: position.coords.latitude,
						lng: position.coords.longitude
					};
					
					marker = setMarker(pos);
					
					map.setCenter(pos);
					map.setZoom(16);
				});
			}
			
			map.addListener('click', function(event) {
				var pos = {
					lat: event.latLng.lat(),
					lng: event.latLng.lng()
				};
				
				marker = setMarker(pos);
			});
			
			function setMarker(pos) {
				if (marker) {
					marker.setMap(null);
				}
				
				$('#lat').val(pos.lat);
				$('#lng').val(pos.lng);
				
				return new google.maps.Marker({
					map: map,
					position: pos
				});
			}
		}
		initMap();
	</script>
{% endblock %}