{% extends 'master.twig' %}

{% block body %}
	<table id="data-table">
		<thead>
			<tr>
				<th>Complaint ID</th>
				<th>Category</th>
				<th>Severity</th>
				<th>Position</th>
				<th>Date</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for d in complaints %}
				<tr>
					<td>{{ d.complaintId }}</td>
					<td>{{ d.category }}</td>
					<td>{{ d.severity }}</td>
					<td>{{ d.lat }}, {{ d.lng }}</td>
					<td>{{ d.date }}</td>
					<td>
						<a href="/complaints/{{ d.complaintId }}">View</a>
						<span class="delete" data-id="{{ d.complaintId }}">Delete</span>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block script %}
	<script>
		var t = $('#data-table').DataTable();
		
		$(document).on('click', 'span.delete', function() {
			var id = $(this).data('id');
			var $row = $(this).closest('tr');
			var call = apiCall('/complaints/' + id, {}, 'delete');
			
			call.done(function() {
				t.row($row).remove().draw();
			});
		});
	</script>
{% endblock %}