{% extends 'master.twig' %}

{% block body %}
	<div class="row">
		<h1>Complaint at {{ complaint.road_info }}</h1>
	</div>
	
	<div class="row">
		<div class="medium-6 columns">
			<p><b>Category:</b> {{ complaint.category }}</p>
			<p><b>Severity:</b> {{ complaint.severity }}</p>
			<p><b>Date added:</b> {{ complaint.date }}</p>
			<p><b>Description:</b><br>{{ complaint.description }}</p>
		</div>
		
		<div class="medium-6 columns">
			<div class="map" style="height: 350px;"></div>
		</div>
	</div>
	
	{% if complaint.images %}
	<div class="row images">
		<h2 class="small-12 text-center">Images</h2>
		{% for image in complaint.images %}
			<img class="medium-6 columns" src="{{ image.url }}" alt="">
		{% endfor %}
	</div>
	{% endif %}
{% endblock %}

{% block script %}
	<script>
		function initMap() {
			// Create a map object and specify the DOM element for display.
			var map = new google.maps.Map($('.map')[0], {
				center: {lat: {{ complaint.lat }}, lng: {{ complaint.lng }}},
				scrollwheel: false,
				zoom: 16
			});
			
			var marker = new google.maps.Marker({
				map: map,
				position: {lat: {{ complaint.lat }}, lng: {{ complaint.lng }}}
			});
		}
		initMap();
	</script>
{% endblock %}