{% extends 'master.twig' %}

{% block body %}
	<ul class="tabs" data-tabs id="example-tabs">
		<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">All contractor</a></li>
		<li class="tabs-title"><a href="#panel2">Add contractor</a></li>
	</ul>
	
	<div class="tabs-content" data-tabs-content="example-tabs">
		<div class="tabs-panel is-active" id="panel1">
			<table id="data-table">
				<thead>
					<tr>
						<th>Contractor ID</th>
						<th>Name</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for c in contractors %}
						<tr>
							<td>{{ c.contractorId }}</td>
							<td>{{ c.name }}</td>
							<td>
								<span class="delete" data-id="{{ c.contractorId }}">Delete</span>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="tabs-panel" id="panel2">
			<div class="row">
				<form class="medium-6 columns medium-centered">
					<div>
						<label for="">Contractor name</label>
						<input type="text" name="name" value="">
					</div>
					<div>
						<button class="button expanded" type="submit">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script>
		var t = $('#data-table').DataTable();
		
		$(document).on('click', 'span.delete', function() {
			var id = $(this).data('id');
			var $row = $(this).closest('tr');
			var call = apiCall('/contractors/' + id, {}, 'delete');
			
			call.done(function() {
				t.row($row).remove().draw();
			});
		});
		
		$('form').on('submit', function(event) {
			var $this = $(this);
			var data = JSON.stringify(serializeForm($this));
			
			var call = apiCall('/contractors', data, 'post');
			
			call.done(function(data) {
				t.row.add([
					data.id,
					data.name,
					'<span class="delete" data-id="'+data.id+'">Delete</span>'
				]).draw(false);
				
				clearForm($this);
			});
			
			event.preventDefault();
		});
	</script>
{% endblock %}