{% extends 'master.twig' %}

{% block body %}
	<ul class="tabs" data-tabs id="example-tabs">
		<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">All jobs</a></li>
		<li class="tabs-title"><a onclick="initMap()" href="#panel2">Add job</a></li>
	</ul>
	
	<div class="tabs-content" data-tabs-content="example-tabs">
		<div class="tabs-panel is-active" id="panel1">
			<table id="data-table">
				<thead>
					<tr>
						<th>Job ID</th>
						<th>Start date</th>
						<th>End date</th>
						<th>Deadline</th>
						<th>Position</th>
						<th>Contractor</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for d in jobs %}
						<tr>
							<td>{{ d.jobId }}</td>
							<td>{{ d.startDate }}</td>
							<td>{{ d.endDate }}</td>
							<td>{{ d.deadline }}</td>
							<td>{{ d.lat }}, {{ d.lng }}</td>
							<td>{{ d.contractor }}</td>
							<td>
								<a href="/jobs/{{ d.jobId }}">View</a>
								<span class="delete" data-id="{{ d.jobId }}">Delete</span>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="tabs-panel" id="panel2">
			<form class="job" enctype="multipart/form-data" method="post" data-abide novalidate>
				<div class="row">
					<div class="small-12 columns">
						<label for="">Contractor</label>
						<select name="contractor">
							<option value="">Select</option>
							{% for con in contractors %}
								<option value="{{ con.contractorId }}">{{ con.name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="small-12 columns">
						<label for="">Start date</label>
						<input style="position: static;" type="text" name="startdate" class="datepicker">
					</div>
					<div class="small-12 columns">
						<label for="">Deadline</label>
						<input style="position: static;" type="text" name="deadline" class="datepicker">
					</div>
					<div class="small-12 columns">
						<label for="">Description</label>
						<textarea name="description" id="" cols="30" rows="10"></textarea>
					</div>
					<div class="small-12 columns">
						<div class="map" style="height: 350px;"></div>
						<input id="lat" type="hidden" name="lat">
						<input id="lng" type="hidden" name="lng">
					</div>
				</div>
				<div class="row column">
					<button class="button" type="submit">Submit</button>
					<button class="button" type="reset">Reset</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script>
		var map;
		var t = $('#data-table').DataTable();
		$('.datepicker').fdatepicker({
			format: 'yyyy-mm-dd hh:ii:ss',
			pickTime: true
		});
		
		$(document).on('click', 'span.delete', function() {
			var id = $(this).data('id');
			var $row = $(this).closest('tr');
			var call = apiCall('/jobs/' + id, {}, 'delete');
			
			call.done(function() {
				t.row($row).remove().draw();
			});
		});
		
		$('form.job').on('submit', function(event) {
			var $this = $(this);
			var data = createFormData($this);
			var call = apiCall('/jobs', data, 'post');
			
			call.done(function(d) {
				t.row.add([
					d.id,
					d.startdate,
					d.endDate ? d.endDate : '',
					d.deadline,
					d.lat + ', ' + d.lng,
					d.contractor,
					'<a href="/jobs/'+d.id+'">View</a><span class="delete" data-id="'+d.jobId+'">Delete</span>'
				]).draw(false);
				
				clearForm($this);
			});
			
			event.preventDefault();
		});
		
		function initMap() {
			if (map) return;
			// Create a map object and specify the DOM element for display.
			map = new google.maps.Map($('.map')[0], {
				center: {lat: 21.4389, lng: -158.0001},
				scrollwheel: false,
				zoom: 10
			});
			
			var marker;
			
			map.addListener('click', function(event) {
				var pos = {
					lat: event.latLng.lat(),
					lng: event.latLng.lng()
				};
				
				marker = setMarker(pos);
			});
			
			function setMarker(pos) {
				if (marker) {
					marker.setMap(null);
				}
				
				$('#lat').val(pos.lat);
				$('#lng').val(pos.lng);
				
				return new google.maps.Marker({
					map: map,
					position: pos
				});
			}
		}
	</script>
{% endblock %}