{% extends 'master.twig' %}

{% block body %}
	<div class="row">
		<h1>Job at {{ job.road_info }}</h1>
	</div>
	
	<div class="row">
		<div class="medium-6 columns">
			<p><b>Contractor:</b> {{ job.contractor }}</p>
			<p><b>Deadline:</b> {{ job.deadline }}</p>
			<p><b>Start date:</b> {{ job.startDate }}</p>
			<p><b>End date:</b> {{ job.endDate }}</p>
			<p><b>Description:</b><br>{{ job.description }}</p>
		</div>
		
		<div class="medium-6 columns">
			<div class="map" style="height: 350px;"></div>
		</div>
	</div>
	
	{% if job.images %}
		<div class="row images">
			<h2 class="small-12 text-center">Images</h2>
			{% for image in job.images %}
				<img class="medium-6 columns" src="{{ image.url }}" alt="">
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}

{% block script %}
	<script>
		function initMap() {
			// Create a map object and specify the DOM element for display.
			var map = new google.maps.Map($('.map')[0], {
				center: {lat: {{ job.lat }}, lng: {{ job.lng }}},
				scrollwheel: false,
				zoom: 16
			});
			
			var marker = new google.maps.Marker({
				map: map,
				position: {lat: {{ job.lat }}, lng: {{ job.lng }}}
			});
		}
		initMap();
	</script>
{% endblock %}