{% extends 'master.twig' %}

{% block body %}
	<div class="medium-6 large-3 medium-centered columns">
		<div class="login-box">
			<div class="row">
				<div class="large-12 columns">
					<form>
						<div class="row">
							<div class="large-12 columns">
								<input type="text" name="username" placeholder="Username" value="{{ user }}"/>
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<input type="password" name="password" placeholder="Password" />
							</div>
						</div>
						<div class="row">
							<div class="large-12 large-centered columns">
								<button class="button expanded" type="submit">Log in</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script>
		$('form').on('submit', function(event) {
			var $this = $(this);
			var data = JSON.stringify(serializeForm($this));
			
			$.ajax('/login', {
				type: 'post',
				data: data,
				dataType: 'json'
			}).done(function(d) {
				if (!d.error) {
					location.reload();
				}
			});
			
			event.preventDefault();
		});
	</script>
{% endblock %}