<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
	
	<link rel="stylesheet" href="//cdn.datatables.net/1.10.11/css/dataTables.foundation.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/foundation-datepicker/1.5.0/css/foundation-datepicker.min.css">
	<link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
	<header class="top-bar">
		<div class="top-bar-left">
			<h4>PMS</h4>
		</div>
		<nav class="top-bar-right">
			<ul class="menu">
				<li><a href="/complain">Complain</a></li>
				{% if user %}
					<li><a href="/complaints">Complaints</a></li>
					<li><a href="/jobs">Jobs</a></li>
					<li><a href="/categories">Categories</a></li>
					<li><a href="/contractors">Contractors</a></li>
					<li><a href="/logout">Logout</a></li>
				{% else %}
					<li><a href="/login">Login</a></li>
				{% endif %}
			</ul>
		</nav>
	</header>
	
	<main>
		{% block body %}{% endblock %}
	</main>

	<footer>
		
	</footer>
	
	<script src="/bower_components/jquery/dist/jquery.js"></script>
	<script src="/bower_components/foundation-sites/dist/foundation.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC34qrn_iZzk11gxHR3QngHndNiOyG6WcI"></script>
	<script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.datatables.net/1.10.11/js/dataTables.foundation.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/foundation-datepicker/1.5.0/js/foundation-datepicker.min.js"></script>
	<script>
		$(document).foundation();
		
		var apiCall = function(url, data, method)
		{
			method = method ? method : 'get';
			
			return $.ajax('/api' + url, {
				type: method,
				data: data,
				dataType: 'json',
				contentType: false,
				processData: false,
				headers: {
					'X-Authorization': '{{ user.token }}'
				}
			}).done(function(data) {
				console.log(data);
			});
		};
		
		var createFormData = function($form)
		{
			var data = new FormData();
			
			$form.find('input, select, textarea').each(function() {
				var $this = $(this);
				
				if ($this.is('[type=file]')) {
					$.each($this[0].files, function(i, file) {
						data.append($this.attr('name'), file);
					});
				} else if ($this.is('[type=radio]') || $this.is('[type=checkbox')) {
					if ($this.is(':checked')) {
						data.append($this.attr('name'), $this.val());
					}
				} else {
					data.append($this.attr('name'), $this.val());
				}
			});
			
			return data;
		};
		
		var clearForm = function($form)
		{
			$form.find('input, textarea').each(function() {
				if ($(this).is('[type=radio]') || $(this).is('[type=checkbox]')) {
					$(this).prop('checked', false);
				} else {
					$(this).val('');
				}
			});
		};
		
		
		var serializeForm = function($form)
		{
			if (!$form.is('form')) return false;
			
			return $form.serializeArray().reduce(function(obj, item) {
				obj[item.name] = item.value;
				return obj;
			}, {});
		};
	</script>
	
	{% block script %}{% endblock %}
</body>
</html>